:root{
    --main-color:white;
    --light:white;

}
*{
    margin:0;
    padding:s0;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background-color :var(--main-color)
}

main {
    flex-grow: 1;
}

.buttons {
    text-align: center;
}

button .text {
    display: none;
}